#generate button {
    margin: 0 3px;
}

/* restart button */ 
#generate #restart_btn {
    width: 90px;
}

/* new button */ 
#generate #new_btn {
    width: 90px;
    color: white;
    background: #4273D2;
}

#generate .level_btn {
    display: block;
    width: 130px;
    height: 30px;
    margin: 15px 0;
    font-size: 14px;
    text-align: center;
}

#generate .level_btn.act,
#generate .level_btn:hover {
    color: white;
    background: #4273D2;
}