* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #666;
    font-weight: bold;
    font-family: inherit;
    text-transform: capitalize;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: all .15s;
}

button.act,
button:active {
    transform: translateY(3px);
}

body {
    font-family: 'Nunito', sans-serif;
}

.inner {
    width: 450px;
    height: inherit;
    margin: auto;
}

/* header */
#title {
    margin: 4rem;
    text-align: center;
}

/* container - control panel*/
#status {
    text-align: right;
    font-weight: bold;
}
#status #level {
    padding: 0 10px;
    color: #9CBAF4;
    text-transform: capitalize;
}

#generate {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

#level_panel {
    position: absolute;
    right: -190px;
    top: -20px;
    padding: 5px 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
    display: none;
}

#level_panel.show {
    display: block;
}